<!-- <h1>Welcome to {{hotelName}}</h1> -->
<hinv-header></hinv-header>
<hinv-header></hinv-header>
<hinv-header></hinv-header>

<div [hidden]="hideRooms">
    Number of rooms : {{numberOfRooms}}
    <div>Available rooms :</div>
    <div [ngStyle]="{'color': rooms.availableRooms ? 'green' : 'red' }"
         [innerText]="rooms.availableRooms"></div>
</div>

<!-- {{ rooms.availableRooms ??  'no rooms' }} -->

<!-- {{ roomList | json }} -->
<div>
    <button (click)="addRoom()">Add Room</button>
</div>


<div *ngIf="selectedRoom">
    <h1>Selected Room : n° {{selectedRoom.roomNumber}} {{selectedRoom.roomType}}</h1>
    <div>
        <p>Price : {{ selectedRoom.price}} € {{selectedRoom.rating | number :'1.1-1'}} stars rate</p>
        <h3>Amenities :</h3> 
        <p>{{selectedRoom.amenities}}</p>
        <img src="{{selectedRoom.photos}}" alt="room selected" class="photo">
    </div>
</div>

<div *ngIf=" rooms.availableRooms > 0">
    <hinv-room-list [rooms]="roomList"
    [title]="title"
    (selectedRoom)="selectRoom($event)"
    class="table"
    ></hinv-room-list>
</div>






<button (click)="toggle()">Toggle</button>

